.btn-boo{
    margin: 20px;
}

#AlertPlaceholder{
    width: 80%;
    margin: 0 auto;
}

.my-birthday, .new-date{
    margin: 20px;
}

.bootstrap-form{
    margin: 20px;
}

.inputBlock{
    width: 300px;
    margin-bottom: 10px;
}